@model AddUpdateCategoryPageVM
@{
    ViewBag.Title = "AddCategory";
}

@using (Html.BeginForm())
{
<div class="form-control">
    @Html.TextBoxFor(x=>x.Category.CategoryName)
</div>
<div class="form-control">
    @Html.TextBoxFor(x=>x.Category.Description)
</div>

<button class="btn btn-primary">
    Kategori Ekle
</button>

}

